{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <meta name="description" content="Welcome to the registration system">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="welcome-container">
            <div class="auth-section">
              <h1>Welcome to the Course Registration System!</h1>
                {% if request.user.is_authenticated %}
                    <p>Hello, {{ request.user.username }}</p>
                    <a href="{% url 'logout' %}" class="btn logout-btn">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn login-btn">Login</a>
                    <a href="{% url 'signup' %}" class="btn signup-btn">Signup</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>
