<h1>Welcome, {{ request.user.username }}</h1>

<h2>Courses ที่เปิดให้ลงทะเบียน</h2>
<ul>
    {% for course in courses %}
    <li>
        {{ course.course_id }} - {{ course.name }} - {{ course.available_slots }} ที่ว่าง
        {% if course.can_enroll %}
        <a href="{% url 'request_quota' course.id %}">ขอโควต้า</a>
        {% else %}
        No slots available or closed
        {% endif %}
    </li>
    {% endfor %}

    
</ul>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'login' %}" class="btn btn-primary">ลงชื่อออก</a>

<p><a href="{%url 'quota_list' %}">ผลการลงทะเบียน</a></p>